<h1>Berlin + Events</h1>

<p>Welcome to the Berlin + Events app! This is a simple event management application where users can create, view, and attend events.</p>
<p>To get started, you can:</p>
<ul>
  <li><%= link_to 'View All Events', events_path %></li>
  </ul>